<div *ngIf="favorites && favorites.user?.login == account.login">
    <h2><span>Favorites</span> {{favorites.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Recipe Title</span></dt>
        <dd>
            <span>{{favorites.recipe_title}}</span>
        </dd>
        <dt><span>Cuisine</span></dt>
        <dd>
            <span>{{favorites.cuisine}}</span>
        </dd>
        <dt><span>Ingredients</span></dt>
        <dd>
            <span>{{favorites.ingredients}}</span>
        </dd>
        <dt><span>Source URL</span></dt>
        <dd>
            <span>{{favorites.source_URL}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{favorites.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'favorites/'+ favorites.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
<div *ngIf="favorites && favorites.user?.login != account.login">
<span>No peeking at other user's favorites!</span><div></div>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
